.icon {
    width: 22px;
    height: 22px;
}

.light {
  @mixin light { display: block; }
  @mixin dark { display: none; }
}

.dark {
  @mixin dark { display: block; }
  @mixin light { display: none; }
}